// variables
$primary: #ffc107;
$secondary: #343a40;
$black: #000;
$white: #fff;
$dark: #212529;
$gray: #808080;
$light: #efefef;
$very-light: #fbfbfb;
$basic-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);

// EXTENSIONS
%raised-hover {
  transition: all .3s;
  text-decoration: none !important;

  &:hover {
    transform: translateY(-3px);
  }
}

// globals
.btn svg.feather {
	height: 20px;
	width: 20px;
	margin-right: .5rem;
	margin-bottom: 1px;
}

.btn-lg svg.feather {
	height: 24px;
	width: 24px;
	margin-right: .5rem;
	margin-bottom: 2px;
}

.btn-basic:active {
	box-shadow: 0 0 0 .2rem transparentize($secondary, .75);
}

.lato {
	font-family: "Lato", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.custom-select:focus {
	border-color: $secondary;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba($secondary,.25);
}

.container,
.container-lg {
	@media(min-width: 1200px) {
		max-width: 1300px;
	}
}

a:not([href]) {
	color: #007bff;
	cursor: pointer;

	&:hover {
		color: #0056b3;
		text-decoration: underline;
	}
}

// navbar
nav.navbar {
	.navbar-toggler {
		border: none;
	}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}

	.nav-link {
		padding-right: 1rem !important;
	}


	.navbar-brand {
		text-decoration-thickness: 2px;
		text-underline-offset: 2px;

		&:hover {
			text-decoration: underline $primary;
			text-decoration-thickness: 2px;
			text-underline-offset: 2px;
		}
	}
}

// globals
body {
	background-color: $very-light;
}

.underline {
	text-decoration: underline $primary;
}

.table thead th {
	border-top: none;
}

// homepage
body.home {
	.header {
		font-size: 3.5rem;
		text-decoration-thickness: .25rem;
		text-underline-offset: .25rem;
	}

	.tagline {
		font-size: 1.5rem;
		margin-bottom: 3rem;
	}

	.masthead {
		text-align: center;
		padding: 2rem 0;
	}

	.btn {
		margin: 0 .25rem;
	}

	.col.plus {
		align-self: center;
	}

	.arrows .feather {
		height: 56px;
		width: 56px;
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}

	.features {
		text-align: center;
		margin-bottom: 3rem;
		margin-top: 3rem;

		.single-feature {
			box-shadow: $basic-shadow;
			height: 100%;
			border-radius: .25rem;
			background-color: $white;
			border-bottom: 2px solid $primary;
		}
	}

	.audience {
		margin-bottom: 3rem;
	}
}

// election page
.single-election {
	.table th {
		border-top: none;
	}

	.table tr.highlight {
		font-weight: bold;
	}

	.legend {
		font-size: 10px;


		&.winning-candidates .minor-candidate {
			display: none !important;
		}
	}

	.legend-cell {
		width: 96px;
		height: 12px;
		vertical-align: middle;
		border-bottom: 1px solid $very-light;
	}

	#select-candidate:not(.minor) .minor-candidate {
		display: none;
	}

	.constituency-seats {
		&:not(.active) {
			display: none;
		}

		.single-seat {
			display: inline-block;
			height: 24px;
			width: 24px;
			margin-right: 4px;
		}

		.progress {
			height: 24px;
			border-radius: 0;
			position: relative;
			overflow: visible;

			.progress-bar {
				min-width: 1.5%;
			}

			.divider {
		    position: absolute;
		    top: -6px;
		    height: 36px;
		    width: 2px;
		    background-color: #000;
		    left: calc(50% - 1px);
			}
		}
	}

	.constituency-statistics {
		&:not(.active) {
			display: none;
		}

		&:not(.minor) {
			.minor-candidate,
			.hide-minor {
				display: none;
			}
		}

		&.minor .show-minor {
			display: none
		}

		td.name {
			width: 35%;
		}

		td.votes {
			width: 20%;
			font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
		}

		td.percentage {
			font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
			width: 70px;
		}

		.percentage-bar {
			display: inline-block;
			height: 12px;
		}

		tr[data-candidate] {
			cursor: pointer;
		}
	}

	.map svg {
		width: 100%;
		max-height: 70vh;

		path {
			stroke: $dark;
			stroke-width: .1px;
			fill: transparent;

			&:hover {
				cursor: pointer;
			}

			&.active {
				stroke-width: 1px;
				stroke: $secondary;
			}
		}
	}

	&.border-white svg path {
		stroke: $very-light;
	}

	.zoom {
		border: 1px solid $light;
		border-radius: .25rem;

		svg {
			max-height: 30vh;

			path {
				stroke-width: .1px;

				&.active {
					stroke-width: .3px;
				}
			}
		}
	}
}

// get started page
body.start hr {
	width: calc(100% + 2rem);
	margin-left: -1rem;
}

// footer
footer {
	a {
		color: $primary;

		&:hover {
			color: $primary;
		}
	}

	.feather {
		height: 18px;
		width: 18px;
		margin-bottom: 2px;
		margin-right: 2px;
	}
}

table td.selectable a {
  color: #4183C4 !important;
  &:hover {
    color: #1e70bf !important;
  }
}