.btn svg.feather {
  height: 20px;
  width: 20px;
  margin-right: .5rem;
  margin-bottom: 1px; }

.btn-lg svg.feather {
  height: 24px;
  width: 24px;
  margin-right: .5rem;
  margin-bottom: 2px; }

.btn-basic:active {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25); }

.lato {
  font-family: "Lato", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; }

.custom-select:focus {
  border-color: #343a40;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25); }

@media (min-width: 1200px) {
  .container,
  .container-lg {
    max-width: 1300px; } }

a:not([href]) {
  color: #007bff;
  cursor: pointer; }
  a:not([href]):hover {
    color: #0056b3;
    text-decoration: underline; }

nav.navbar .navbar-toggler {
  border: none; }

nav.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

nav.navbar .nav-link {
  padding-right: 1rem !important; }

nav.navbar .navbar-brand {
  text-decoration-thickness: 2px;
  text-underline-offset: 2px; }
  nav.navbar .navbar-brand:hover {
    text-decoration: underline #ffc107;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px; }

body {
  background-color: #fbfbfb; }

.underline {
  text-decoration: underline #ffc107; }

.table thead th {
  border-top: none; }

body.home .header {
  font-size: 3.5rem;
  text-decoration-thickness: .25rem;
  text-underline-offset: .25rem; }

body.home .tagline {
  font-size: 1.5rem;
  margin-bottom: 3rem; }

body.home .masthead {
  text-align: center;
  padding: 2rem 0; }

body.home .btn {
  margin: 0 .25rem; }

body.home .col.plus {
  align-self: center; }

body.home .arrows .feather {
  height: 56px;
  width: 56px;
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

body.home .features {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem; }
  body.home .features .single-feature {
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
    height: 100%;
    border-radius: .25rem;
    background-color: #fff;
    border-bottom: 2px solid #ffc107; }

body.home .audience {
  margin-bottom: 3rem; }

.single-election .table th {
  border-top: none; }

.single-election .table tr.highlight {
  font-weight: bold; }

.single-election .legend {
  font-size: 10px; }
  .single-election .legend.winning-candidates .minor-candidate {
    display: none !important; }

.single-election .legend-cell {
  width: 96px;
  height: 12px;
  vertical-align: middle;
  border-bottom: 1px solid #fbfbfb; }

.single-election #select-candidate:not(.minor) .minor-candidate {
  display: none; }

.single-election .constituency-seats:not(.active) {
  display: none; }

.single-election .constituency-seats .single-seat {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 4px; }

.single-election .constituency-seats .progress {
  height: 24px;
  border-radius: 0;
  position: relative;
  overflow: visible; }
  .single-election .constituency-seats .progress .progress-bar {
    min-width: 1.5%; }
  .single-election .constituency-seats .progress .divider {
    position: absolute;
    top: -6px;
    height: 36px;
    width: 2px;
    background-color: #000;
    left: calc(50% - 1px); }

.single-election .constituency-statistics:not(.active) {
  display: none; }

.single-election .constituency-statistics:not(.minor) .minor-candidate,
.single-election .constituency-statistics:not(.minor) .hide-minor {
  display: none; }

.single-election .constituency-statistics.minor .show-minor {
  display: none; }

.single-election .constituency-statistics td.name {
  width: 35%; }

.single-election .constituency-statistics td.votes {
  width: 20%;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

.single-election .constituency-statistics td.percentage {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  width: 70px; }

.single-election .constituency-statistics .percentage-bar {
  display: inline-block;
  height: 12px; }

.single-election .constituency-statistics tr[data-candidate] {
  cursor: pointer; }

.single-election .map svg {
  width: 100%;
  max-height: 70vh; }
  .single-election .map svg path {
    stroke: #212529;
    stroke-width: .1px;
    fill: transparent; }
    .single-election .map svg path:hover {
      cursor: pointer; }
    .single-election .map svg path.active {
      stroke-width: 1px;
      stroke: #343a40; }

.single-election.border-white svg path {
  stroke: #fbfbfb; }

.single-election .zoom {
  border: 1px solid #efefef;
  border-radius: .25rem; }
  .single-election .zoom svg {
    max-height: 30vh; }
    .single-election .zoom svg path {
      stroke-width: .1px; }
      .single-election .zoom svg path.active {
        stroke-width: .3px; }

body.start hr {
  width: calc(100% + 2rem);
  margin-left: -1rem; }

footer a {
  color: #ffc107; }
  footer a:hover {
    color: #ffc107; }

footer .feather {
  height: 18px;
  width: 18px;
  margin-bottom: 2px;
  margin-right: 2px; }

table td.selectable a {
  color: #4183C4 !important; }
  table td.selectable a:hover {
    color: #1e70bf !important; }