<footer class="text-light bg-dark py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb-2 mb-md-0">
				<div class="mb-1">
					<i data-feather="unlock"></i>
					Licensed under the <a rel="license" href="https://gitlab.com/open-elections/openelections/-/blob/master/LICENSE">MIT License</a>
				</div>
				<div class="mb-1">
					<i data-feather="gitlab"></i>
					Source code <a href="https://gitlab.com/open-elections/">available on GitLab</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="ui list">
					<div class="item">
						<i class="vote yea icon"></i>
						<div class="content">
							<a href="{% url 'index' %}">Home</a>
						</div>
					</div>
					<div class="item">
						<i class="info circle icon"></i>
						<div class="content">
							<a href="{% url 'about' %}">About</a>
						</div>
					</div>
					<div class="item">
						<i class="person booth icon"></i>
						<div class="content">
							<a href="{% url 'elections' %}">All elections</a>
						</div>
					</div>
					<div class="item">
						<i class="hands helping icon"></i>
						<div class="content">
							<a href="mailto:guus@pollito.org">Contact</a>
						</div>
					</div>
					<div class="item">
						<i class="hands helping icon"></i>
						<div class="content">
							<a href="https://gitlab.com/open-elections/openelections/-/blob/master/CONTRIBUTING.md">Contribute</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>