<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand underline lato" href="{% url 'index' %}">Open Elections</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link{% if election_list %} active{% endif %}" href="{% url 'elections' %}">Elections</a>
        <a class="nav-item nav-link{% if start %} active{% endif %}" href="{% url 'start' %}">Get started</a>
        <a class="nav-item nav-link{% if about %} active{% endif %}" href="{% url 'about' %}">About</a>
        <a class="nav-item nav-link" href="mailto:guus@pollito.org">Contact</a>
        <a class="nav-item nav-link" href="https://gitlab.com/open-elections/openelections/-/tree/master/" rel="noreferrer noopener" target="_blank">Source code</a>
      </div>
    </div>
  </div>
</nav>