{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block page_name %}about{% endblock %}

{% block content %}

<h2 class="underline">About</h2>
<p>Generally speaking, election maps aren't particularly complicated nor do they need to be unique. A simple overview of constituencies and its winners along with a table of parties and their votes is often enough. Governments, civil society groups, and newspapers can benefit from using a system that generates these maps and charts automatically. Rather than starting from scratch every election cycle, it's much cheaper to only need an updated spreadsheet with the votes and not worry about anything else.</p>

<h3 class="underline">Why open source?</h3>
<p>Election data should not be hard to access and disseminating this data should not be a competition. The nature of open source software is collaborative rather than competitive. Newspapers, NGOs, and the government each paying programmers to make virtually the same product makes no sense. By making Open Elections open source and freely available, the tool benefits organisations equally, regardless of size or budget.</p>

<h3 class="underline">Why isn't hosting free?</h3>
<p>While writing code only costs time, hosting also costs money. Open Elections will archive elections on its website for free, but unfortunately isn't in a position to subsidise organisations' hosting costs.</p>

<p>However, we believe our hosting costs (starting at €10 per month) are very reasonable and <a target="_blank" rel="noreferrer noopener" href="https://gitlab.com/open-elections/openelections#self-hosting">self-hosting</a> is quite straight-forward. Please <a href="mailto:guus@pollito.org">get in touch</a> with us to get an estimate.</p>

{% endblock %}