{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'core/img/favicon.png' %}" type="image/x-icon"/>

    <title>Open Elections{% if page_title %} | {{ page_title }}{% endif %}</title>
    <meta name="description" content="Easily generate beautiful election maps. Open source, free to use" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Open Elections{% if page_title %} | {{ page_title }}{% endif %}">
    <meta name="twitter:description" content="Easily generate beautiful election maps. Open source, free to use">
    <meta name="twitter:image" content="{% static 'core/img/logo-1024.png' %}">

    <!-- Open Graph data -->
    <meta property="og:title" content="Open Elections{% if page_title %} | {{ page_title }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://openelections.nl{{ request.path }}" />
    <meta property="og:image" content="{% static 'core/img/logo-1024.png' %}" />
    <meta property="og:description" content="Easily generate beautiful election maps. Open source, free to use" />
    <meta property="og:site_name" content="Open Elections" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
  </head>

  <body class="{% block page_name %}{% endblock %}">
    {% if header != False %}
        {% include "_header.html" %}
    {% endif %}

    <div class="main-content container-lg py-4">
        {% block content %}{% endblock %}
    </div>

    {% if footer != False %}
        {% include "_footer.html" %}
    {% endif %}

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- feather icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- site javascript -->
    <script src="{% static 'core/js/site.js' %}"></script>

    <!-- extra javascript -->
    {% block javascript %}
    {% endblock %}
  </body>
</html>