{% extends "base.html" %}
{% load humanize %}
{% load openelections_extras %}
{% block title %}{{ election }}{% endblock %}
{% block page_name %}election{% endblock %}

{% block content %}
	<h1 class="underline text-center text-lg-left mb-4">{{ election }}</h1>

	<div class="row single-election border-{{ election.border_colour }}">
		<div class="col-lg-7 map mb-4">
			<div class="mb-3">{{ election.map.svg|safe }}</div>
			<div class="row mb-3">
				{% for zoom in election.zoom.all %}
					<div class="col-lg-6 ">
						<small class="text-muted">{{ zoom.name }}</small>
						<div class="zoom" data-zoom="{{ zoom.slug }}">
							{{ election.map.svg|safe }}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="legend-wrapper mb-2">
				<table class="legend winning-candidates">
					<thead>
						<tr>
							<th></th>
		  				<td class="text-right">{{ election.max_percentage }}%</td>
						</tr>
					</thead>
			  	<tbody>
			  		{% for candidate in candidates_dict %}
			  			<tr data-candidate="{{ candidate.slug }}" {% if candidate.winner is not True %}class="minor-candidate"{% endif %}>
			  				<th class="text-right pr-2">
			  					{% if election.candidate_type == "PA" %}
				  					{{ candidate.party }}
				  				{% else %}
				  					{{ candidate.person }}
				  				{% endif %}
			  				</th>
			  				<td class="legend-cell" style="background: linear-gradient(to right, {{ candidate.color }}00, {{ candidate.color }})"></td>
			  			</tr>
			  		{% endfor %}
			  	</tbody>
				</table>
				<div class="date">
				</div>
			</div>

			<small class="text-muted">
				Election held on {{ election.start_date|date:"d F Y" }}{% if election.start_date != election.end_date %}- {{ election.end_date|date:"d F Y" }}{% endif %}. <a href="/media/{{ election.votes }}">Download results</a>. {% if election.source %}<a href="{{ election.source }}">Original source</a>.{% endif %}
			</small>
		</div>

		<div class="col-lg-5 metadata">
			<strong>
				{% if election.candidate_type == "PA" %}
					Party
				{% else %}
					Candidate
				{% endif %}
			</strong>
			<small class="show-winner" hidden><a>Show winner</a></small>
			<select class="custom-select mb-3" id="select-candidate">
	    	<option value="winner">Winner</option>
	    	{% for candidate in candidates_dict %}
  				<option value="{{ candidate.slug }}" {% if candidate.major is not True %}class="minor-candidate"{% endif %}>
  					{% if election.candidate_type == "PE" %}{{ candidate.person }}{% else %}{{ candidate.party }}{% endif %}
  				</option>
		    {% endfor %}
			</select>

			<strong>Constituency</strong>
			<small class="show-country" hidden><a>Show {{ election.country.name }}</a></small>
			<select class="custom-select mb-3" id="select-constituency">
	    	{% for row in results_dict %}
		    	<option value="{{ row.constituency }}">{{ row.constituency }}</option>
	    	{% endfor %}
			</select>

			{% for row in seats_dict %}
				<div class="constituency-seats mb-4" data-constituency="{{ row.constituency }}">
					<strong class="d-block">Seats and votes</strong>
					{% if row.constituency == election.country.name %}
						<div class="progress">
							{% for winner in seat_winners_dict %}
								{% if row|get_item:winner.slug %}
									{% with seats=row|get_item:winner.slug %}
									  <div class="progress-bar" title="{{ winner.party }}" role="progressbar" style="background-color: {{ winner.color }}; width: {% widthratio seats row.constituency_total 100 %}%" aria-valuenow="{{ seats }}" aria-valuemin="0" aria-valuemax="{{ row.constituency_total }}">
									  	{{ seats }}
									  </div>
									{% endwith %}
								{% endif %}
							{% endfor %}
							<div class="divider"></div>
						</div>
					{% else %}

					{% spaceless %}
						{% for winner in seat_winners_dict %}
							{% if row|get_item:winner.slug %}
								{% for i in row|get_item:winner.slug|times %}
								    <div class="single-seat" style="background-color: {{ winner.color }}" title="{{ winner.party }}"></div>
								{% endfor %}
							{% endif %}
						{% endfor %}
					{% endspaceless %}

					{% endif %}
				</div>
			{% endfor %}

			{% for row in results_dict %}
				<div class="constituency-statistics" data-constituency="{{ row.constituency }}">
					<table class="table">
						<thead>
							<tr>
								<th>{% if election.candidate_type == "PA" %}Party{% else %}Candidate{% endif %}</th>
								<th>Votes</th>
								<th>Percentage</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for candidate in candidates_dict %}
								<tr data-candidate="{{ candidate.slug }}" {% if candidate.major is not True %}class="minor-candidate"{% endif %}>
									<td class="name">
				  					{% if election.candidate_type == "PA" %}
											{{ candidate.party }}
										{% else %}
											{{ candidate.person }}
										{% endif %}
									</td>
		              <td class="votes">{% if row|get_item:candidate.slug %}{{ row|get_item:candidate.slug|floatformat|intcomma }}{% else %}0{% endif %}</td>
		              <td><div class="percentage-bar" style="background-color: {{ candidate.color }}; width:{{ row|get_item_percent:candidate.slug|floatformat|intcomma }}%"></div></td>
		              <td class="percentage text-right">{% if row|get_item:candidate.slug %}{{ row|get_item_percent:candidate.slug|floatformat|intcomma }}{% else %}0{% endif %}%</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<button class="btn btn-sm btn-outline-dark show-minor">
			      <i data-feather="chevron-down"></i>
						Show minor {% if election.candidate_type == "PA" %}parties{% else %}candidates{% endif %}
					</button>
					<button class="btn btn-sm btn-outline-dark hide-minor">
			      <i data-feather="chevron-up"></i>
						Hide minor {% if election.candidate_type == "PA" %}parties{% else %}candidates{% endif %}
					</button>
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}

{% block javascript %}
	<script>
		// setting up zoom views
		{% for zoom in election.zoom.all %}
			$(".zoom[data-zoom='{{ zoom.slug }}'] svg").attr("viewBox", "{{ zoom.viewbox }}");
		{% endfor %}

		// declaring some variable with info from database
		const results = {{ results_json|safe }};
		const candidates = {{ candidates_json|safe }};
		const opacityHandicap = 100 / {{ election.max_percentage }};

		// add opacity for legend
		$("table.legend .legend-cell[data-opacity]").each(function() {
			let percentage = $(this).data("opacity") / 100;
			let opacity = percentage * opacityHandicap;
			$(this).css("opacity", opacity)
		})

		// make party label in legend consistent width so it doesn't jump when switching parties
		$(".legend tbody tr th").width($(".legend tbody tr th").width());

		function showCandidate(candidate) {
			// highlight candidate in table
			$("table tr[data-candidate]").removeClass("highlight");
			$("table tr[data-candidate='" + candidate + "']").addClass("highlight");

			// set proper value in candidate dropdown
			$("#select-candidate").val(candidate);

			// show only this candidate in legend
			if (candidate == "winner") {
				$(".legend").addClass("winning-candidates");
				$(".legend tbody tr").show();
			} else {
				$(".legend").removeClass("winning-candidates");
				$(".legend tbody tr").hide();
				$(".legend tbody tr[data-candidate='" + candidate + "']").show();
			}

			$(results).each(function() {
				let constituency = this.constituency;
				let selectedCandidate = candidate;

				// get the candidate name when showing winner
				if (candidate == "winner") {
					selectedCandidate = this[candidate];
				}

				// get candidate details from candidates json
				let candidateInfo = candidates.find(item => item.slug === selectedCandidate);

				// get percentage of votes from results json
				let percentage = this[selectedCandidate + "_percent"] / 100;

				let fillOpacity = percentage * opacityHandicap;

				// set css to each constituency on the map
				$(".map path[title='" + constituency + "']").css({
					"fill": candidateInfo.color,
					"fill-opacity": fillOpacity
				});
			})

			if (candidate == "winner") {
				$(".show-winner").attr("hidden", "hidden")
			} else {
				$(".show-winner").removeAttr("hidden")
			}
		}

		$("#select-candidate").change(function() {
			let selectedCandidate = $("#select-candidate").val()
			showCandidate(selectedCandidate)
		})

		showCandidate("winner");

		function showConstituency(constituency) {
			$("svg path").removeClass("active");
			$("svg path[title='" + constituency + "']").each(function() {
				$(this).addClass("active").insertAfter($(this).nextAll("path:last"))
			})

			$(".constituency-statistics, .constituency-seats").removeClass("active");
			$(".constituency-statistics[data-constituency='" + constituency + "'], .constituency-seats[data-constituency='" + constituency + "']").addClass("active");

			if (constituency == "{{ election.country.name }}") {
				$(".show-country").attr("hidden", "hidden")
			} else {
				$(".show-country").removeAttr("hidden")
			}
		}

		$("#select-constituency").change(function() {
			let selectedConstituency = $("#select-constituency").val()
			showConstituency(selectedConstituency)
		})

		// select constituency
		$("svg path").click(function() {
			let selectedConstituency = $(this).attr("title");
			$("#select-constituency").val(selectedConstituency)
			showConstituency(selectedConstituency);
		})

		// select country on load and move to top of list in select
		$("#select-constituency option[value='{{ election.country.name }}']").prependTo("#select-constituency");
		$("#select-constituency").val("{{ election.country.name }}");
		showConstituency("{{ election.country.name }}")

		// show or hide minor parties from dropdown and table
		$(".show-minor, .hide-minor").click(function() {
			$(".constituency-statistics").toggleClass("minor")
			$("#select-candidate").toggleClass("minor")
		})

		// select candidate from statistics table
		$(".constituency-statistics tr[data-candidate]").click(function() {
			let candidate = $(this).attr("data-candidate");
			showCandidate(candidate);
		})

		// show winner
		$(".show-winner").click(function() {
			showCandidate("winner")
		})

		// show country
		$(".show-country").click(function() {
			showConstituency("{{ election.country.name }}")
			$("#select-constituency").val("{{ election.country.name }}")
		});
	</script>
{% endblock %}
