{% extends "base.html" %}
{% load static %}
{% block title %}Elections{% endblock %}
{% block page_name %}elections{% endblock %}

{% block content %}
<div class="ui attached segment available">
	<h2 class="underline">Elections</h2>
	<table class="ui sortable unstackable table">
		<thead>
			<tr>
				<th class="eight wide">Election</th>
				<th>Country</th>
				<th class="sorted descending">Date</th>
			</tr>
		</thead>
		<tbody>
			{% for election in elections %}
			<tr>
				<td><a href="{% url 'election' election.slug %}">{{ election.name }}</a></td>
				<td><img src="{% static 'core/img/flags/' %}{{ election.country.iso }}.png" class="mr-1"> {{ election.country }}</td>
				<td>{{ election.start_date|date:"d F Y" }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}