{% extends "base.html" %}
{% load static %}
{% block title %}{{ election }}{% endblock %}
{% block page_name %}election-embedded{% endblock %}

{% block content %}
  <div style="max-width: 700px; margin: auto">
    <a href="{% url 'election' election.slug %}" class="btn btn-warning mb-2">
      <i class="ml-1 mr-0 " data-feather="arrow-left"></i>
      Back to election
    </a>

    {% lorem 2 p %}

    <strong>The election map below is in an iframe and can be embedded anywhere</strong>
  </div>

  <div class="rounded shadow p-4 my-4">
    <iframe id="iframe" title="{{ election }}" src="{% url 'election' election.slug %}?iframe=true" scrolling="no" loading="lazy" style="width:1px; min-width: 100%; border:none"></iframe>
  </div>

  <div style="max-width: 700px; margin: auto">
    {% lorem 2 p %}

    <a href="{% url 'election' election.slug %}" class="btn btn-warning mb-2">
      <i class="ml-1 mr-0 " data-feather="arrow-left"></i>
      Back to election
    </a>
  </div>

  <script src="{% static 'core/js/iframeResizer.min.js' %}"></script>
  <script>
    iFrameResize();
  </script>
{% endblock %}