{% extends "base.html" %}
{% load static %}
{% block page_name %}home{% endblock %}

{% block content %}
  <div class="masthead">
  	<h1 class="underline lato header">Open Elections</h1>
  	<p class="tagline">Easily generate beautiful election maps. Open source, free to use.</p>
    <a href="{% url 'elections' %}" class="btn btn-lg btn-dark mb-2">
      <i data-feather="eye"></i>
      Explore elections
    </a>
    <a href="{% url 'start' %}" class="btn btn-lg btn-warning mb-2">
      Get started
      <i class="ml-1 mr-0 " data-feather="arrow-right"></i>
    </a>
  </div>

  <div class="features row justify-content-md-center">
    <div class="col-sm-6 col-lg-5 col-xl-4 mb-3">
      <div class="single-feature">
        <img class="img-fluid rounded-top border-bottom" src="{% static 'core/img/screenshot-data.png' %}">
        <div class="p-3">
          <h3>Election data</h3>
          <p>Take a spreadsheet of any election results</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-5 col-xl-4 mb-3">
      <div class="single-feature">
        <img class="img-fluid rounded-top border-bottom" src="{% static 'core/img/screenshot-svg.png' %}">
        <div class="p-3">
          <h3>SVG map</h3>
          <p>Combine this with the relevant map</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center arrows">
    <i data-feather="arrow-down"></i>
  </div>

  <div class="features row justify-content-sm-center">
  	<div class="col-sm-6 col-lg-4 mb-4">
      <div class="single-feature">
        <img class="img-fluid rounded-top border-bottom" src="{% static 'core/img/screenshot-chart.png' %}">
        <div class="p-3">
          <h3>Organised data</h3>
      		<p>The election results can be viewed or downloaded in open formats and used for any other purpose.</p>
        </div>
    	</div>
    </div>
  	<div class="col-sm-6 col-lg-4 mb-4">
      <div class="single-feature">
        <img class="img-fluid rounded-top border-bottom" src="{% static 'core/img/screenshot-maps.png' %}">
        <div class="p-3">
      		<h3>Clean election maps</h3>
      		<p>Each election has a clean, no-frills map through which users can explore the election results.</p>
        </div>
      </div>
  	</div>
  	<div class="col-sm-6 col-lg-4 mb-4">
      <div class="single-feature">
        <img class="img-fluid rounded-top border-bottom" src="{% static 'core/img/screenshot-embed.png' %}">
        <div class="p-3">
      		<h3>Embed on your site</h3>
          <p>Easily put the map of your choice on your own website to share with your users</p>
        </div>
      </div>
  	</div>
  </div>

  <div class="audience text-center">
    <h3>Open Elections is aimed at <span class="underline">journalists</span>, <span class="underline">civil society</span>, and <span class="underline">governments</span> to make election results more transparent and easy to access.</h3>

    <a href="{% url 'start' %}" class="btn btn-lg btn-warning mb-2 mt-4">
      Get started
      <i class="mr-0 ml-1" data-feather="arrow-right"></i>
    </a>
  </div>

  <div class="text-center">
    <a class="btn btn-outline-dark mb-2" href="https://gitlab.com/open-elections/openelections/-/blob/master/LICENSE">
      <i data-feather="unlock"></i>
      MIT License
    </a>
    <a class="btn btn-outline-dark mb-2" href="https://gitlab.com/open-elections/openelections/-/tree/master/">
      <i data-feather="code"></i>
      Source code
    </a>
    <a class="btn btn-outline-dark mb-2" href="https://gitlab.com/open-elections/openelections/-/blob/master/CONTRIBUTING.md">
      <i data-feather="plus-circle"></i>
      Contribute
    </a>
  </div>
{% endblock %}
