{% extends "base.html" %}
{% block title %}Getting started{% endblock %}
{% block page_name %}start{% endblock %}

{% block content %}

<h2 class="underline mb-3">What would you like to do?</h2>

<div class="row mt-4">
  <div class="col-lg-6 mb-4">
    <div class="border rounded p-3">

      <h4 class="mb-4"><i class="mr-2" data-feather="plus-circle"></i>Add a new election to embed on my website</h4>
      <strong>I'll get the election data and SVG map myself</strong>
      <p>
        Detailed instructions on how to gather all necessary data is on <a target="_blank" rel="noreferrer noopener" href="https://gitlab.com/open-elections/openelections/-/blob/master/CONTRIBUTING.md">the contributing page in the repository</a>.
      </p>

      <strong>I need some help getting the required data</strong>
      <p>
        Please <a href="mailto:guus@pollito.org">get in touch</a> with us and share the data you have and what you need help with.
      </p>

      <hr>

      <strong>I'll host the map on my own infrastructure</strong>
      <p>
        You can find detailed instructions in the <a target="_blank" rel="noreferrer noopener" href="https://gitlab.com/open-elections/openelections#self-hosting">repository on GitLab</a>.
      </p>

      <strong>I'd like Open Elections to handle hosting</strong>
      <p>
        Open Elections data and code is free for anyone to use. Hosting is not. The price for hosting depends largely on the number of visitors you expect to receive and how much support you need with embedding the map on your platform. Hosting starts at €10 per month for around 10,000 visitors per day and gets relatively cheaper as numbers rise.
      </p>

      <p class="mb-0">Please <a href="mailto:guus@pollito.org">get in touch</a> to get a quote.</p>

    </div>
  </div>

  <div class="col-lg-6 mb-4">
    <div class="border rounded p-3">

    <h4 class="mb-4"><i class="mr-2" data-feather="layers"></i>Put an existing map on my website</h4>

    <strong>I'll host the map on my own infrastructure</strong>
    <p>
      You can find detailed instructions in the <a target="_blank" rel="noreferrer noopener" href="https://gitlab.com/open-elections/openelections#self-hosting">repository on GitLab</a>.
    </p>

    <strong>I'd like Open Elections to handle hosting</strong>
    <p>
      Open Elections data and code is free for anyone to use. Hosting is not. The price for hosting depends largely on the number of visitors you expect to receive and how much support you need with embedding the map on your platform. Hosting starts at €10 per month for around 10,000 visitors per day and gets relatively cheaper as number rise.
    </p>

    <p class="mb-0">Please <a href="mailto:guus@pollito.org">get in touch</a> to get a quote.</p>
  </div>
  </div>
</div>

<a class="btn btn-dark" target="_blank" rel="noreferrer noopener"
   href="https://gitlab.com/open-elections/openelections/-/blob/master/CONTRIBUTING.md">
  <i data-feather="code"></i> Contribute to Open Elections
</a>
<a class="btn btn-warning" href="{% url 'elections' %}">
  <i data-feather="eye"></i> Explore elections
</a>
{% endblock %}